[buildout]
extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-4.x.cfg
    https://raw.githubusercontent.com/IMIO/cpskin.policy/master/versions.cfg
    https://raw.githubusercontent.com/plone/plone.app.robotframework/master/versions.cfg
    https://raw.githubusercontent.com/IMIO/buildout.jenkins/master/qa.cfg

package-name = cpskin.minisite
#allow-picked-versions = false
show-picked-versions = true

versions = versions

extensions =
    mr.developer

auto-checkout =

parts +=
    omelette
    test
    robot

[omelette]
recipe = collective.recipe.omelette
eggs = ${test:eggs}

[test]
recipe = zc.recipe.testrunner
defaults = ['--auto-color', '--auto-progress']
eggs =
    cpskin.minisite [test]


[robot]
recipe = zc.recipe.egg
eggs =
    Pillow
    ${test:eggs}
    plone.app.robotframework

[code-analysis]
directory = ${buildout:directory}/cpskin


[sources]
robotframework-selenium2library = git https://github.com/affinitic/robotframework-selenium2library.git

[versions]
plone.app.contenttypes = 1.1b6
